.done {
    text-decoration: line-through;
}
h1{
    color: brown;
}
/* linear-gradient(to right, rgb(199, 114, 109), rgb(141, 175, 227));


*/

body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, rgb(199, 114, 109), rgb(141, 175, 227)); /* Standard syntax */
    background: linear-gradient(to right, rgb(9, 180, 207), rgb(169, 142, 30));
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}
ul{
    
    margin: auto;
    padding: 0;
    width: fit-content;
    max-width: 400px;
    
}
li {
    display: block;
	font-family: "Lucida Console", "Courier New", monospace;
    cursor: pointer;
    color: rgba(0,0,0,.5);
    list-style: none;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

.time{
    box-sizing: border-box;
    background-color: transparent;
    margin: 0em 0.5em;
    padding: 0.1em 0.3em;
    border-radius: 25%;
    color: rgba(255, 255, 255, 0.774);
    border: 2px solid  rgba(0,0,0,.2);
}

div{
    margin-top: 2.5em;
}

/* sexy sky blue gradient //linear-gradient(to right, rgb(52, 120, 177), rgb(17, 132, 137)); */

button{
    padding: 1em 3em;
    font: 'Raleway', sans-serif;
    border: none;
    background-color: rgba(0,0,0,.5);
    color: rgb(245, 245, 245);
    font-weight: bold;
    text-decoration: none;
}


.buttonLi{
    padding: 0.5em 1em;
    margin: 0.3em;
    font: 'Raleway', sans-serif;
    border: none;
    border-radius: 10% 10%;
    background-color: rgba(122, 120, 120, 0.5);
    color: rgb(245, 245, 245);
    font-weight: bold;
    text-decoration: none;
}


button:hover{
    padding: 1em 3em;
    font: 'Raleway', sans-serif;
    border: none;
    color: rgba(0,0,0,0.6);
    background-color: rgb(245, 245, 245, .5);
    font-weight: bold;
    text-decoration: none;
}

.buttonLi:hover{
    padding: 0.5em 2em;
}